<% provide(:action, "update") %>

<h1>Editing Boardthread</h1>

<%= render 'form', boardthread: @boardthread %>

<%= link_to 'Destroy', @boardthread, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', boardthreads_path %>
